# Set to true to show a takedown page (exports disabled).
DEPRECATED_MODE=false

# Also accepts the common typo DEPERECEATED_MODE=true
# DEPERECEATED_MODE=false

# Shown on the deprecated page
GITHUB_REPO=https://github.com/shoryasethia/create-yearbook


FLASK_DEBUG=0
PORT=5000